<h1><%= @post.title %></h1>
<p>
    Title: 
        <%= @post.title %>
        <hr />
    Surname: 
        <%= @post.content %> 
        <hr />

        <%= link_to 'Back to posts', posts_path %>
</p>